/*Header*/
.apresentation-header-flex-end{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.dashboard-admin-button-logout{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.dashboard-admin-button-logout span{
  font-size: var(--h3-font-size);
}

.dashboard-admin-button-logout:hover{
  color: var(--button-color);
}

/*Welcome*/
.apresentation-header-welcome{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}